@import "../../global.less";

.input-container {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  margin: 10px;
  font: 1rem / 1.4375em sans-serif;
  letter-spacing: 0.00938em;
}

label {
  position: absolute;
  top: 21px;
  left: 14px;
  transform: translate(0, -50%);
  padding: 4px;
  color: hsl(0, 0%, 60%);
  font: inherit;
  pointer-events: none;

  &.input-type-standard {
    left: 4px;
  }

  &.input-focus {
    top: 0;
    color: @primary-color;
    font-size: .5rem;
    line-height: 1;
    background-color: white;
    transition: top .25s, font-size .6s;

    &.input-type-filled {
      padding: 4px 8px;
      background-color: hsl(0, 0%, 95%);
      border-radius: 4px;
    }

    &.input-type-standard {
      background-color: transparent;
    }
  }

  &.input-not-null {
    top: 0;
    font-size: .5rem;
    line-height: 1;
    background-color: white;

    &.input-type-filled {
      padding: 4px 8px;
      background-color: hsl(0, 0%, 95%);
      border-radius: 4px;
    }

    &.input-type-standard {
      background-color: transparent;
    }
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  box-sizing: inherit;
  padding: 10px 14px 6px;
  background-clip: padding-box;
  font: inherit;
  outline: none;
  cursor: text;

  &.input-type-outlined {
    border: .5px solid hsl(0, 0%, 70%);
    border-radius: 4px;

    &:hover {
      border-color: black;
    }

    &:focus {
      border: 1.4px solid @primary-color;
    }
  }

  &.input-type-filled {
    border: none;
    border-bottom: 1.5px solid hsl(0, 0%, 70%);
    border-radius: 4px 4px 0 0;
    background: hsl(0, 0%, 95%);

    &:hover {
      border-bottom-color: black;
    }
  }

  &.input-type-standard {
    padding-left: 4px;
    border: none;
    border-bottom: 1.5px solid hsl(0, 0%, 70%);

    &:hover {
      border-bottom-color: black;
    }
  }
}

.input-underline {
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 0%;
    height: 1.8px;
    background: @primary-color;
  }

  &::before {
    right: 50%;
  }

  &::after {
    left: 50%;
  }
}

.input-focus {
  &.input-underline {
    &::before, &::after {
      width: 50%;
      transition: width .4s;
    }
  }
}